.logo img {
  width: 50px;
  padding: 12px;
}
 
body {
  background-color: #ddd1c5;
  font-family: 'Akshar';
  margin: 0;
}
 
nav a {
  color: #ddd1c5;
  text-decoration: none;
  font-size:larger;
}
 
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #222642;
}
 
a:hover {
  color: rgb(7, 98, 159);
  text-decoration: underline;
}
 
.hero-banner {
  background-image: url(assets/Hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 730px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
 
.hero-banner__content {
  padding: 20px 30px;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: large;
  
}
 
.hero-banner__heading {
  font-size: 3rem;
  margin: 0;
}
 
.hero-banner__cta {
  background-color: #222642;
  color: rgb(255, 255, 255);
  border: #039a63;
  outline: #039a63;
  display: inline-block;
  padding: 10px 25px;
  text-align: center;
  cursor: pointer;
}
 
.hero-banner__cta:hover {
  background-color: #24a375;
}
 
.content {
  padding: 20px;
}
 
.accordion {
  margin: 20px 0;
}
 
.accordion-item {
  border-bottom: 1px solid #ccc;
}
 
.accordion-title {
  background: #f9f9f9;
  padding: 10px;
  width: 100%;
  display: block;
  font-size: 18px;
  cursor: pointer;
}
 
.accordion-checkbox {
  display: none;
}
 
.accordion-checkbox:checked + .accordion-title {
  background: #e0e0e0;
}
 
.accordion-checkbox:checked + .accordion-title + .accordion-content {
  max-height: 500px;
  padding: 10px;
}
 
.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding-left: 10px;
}
 
.description {
  margin: 20px 0;
}
 
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}
 
.grid-item {
  flex: 1 0 calc(11.11% - 10px);
  margin: 5px;
}
 
.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.video {
  margin: 20px 0;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}
 
footer {
  background-color: rgb(34, 38, 66);
  color: white;
  text-align: center;
  padding: 2px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
 
footer a {
  color: white;
  text-decoration: none;
}
 
footer a:hover {
  color: rgb(7, 98, 159);
}
 
#card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
 
.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  margin: 10px;
  text-align: left;
}
 
.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
 
.card-content {
  padding: 20px;
}
 
.card-title {
  font-size: 1.5em;
  margin: 0 0 10px 0;
}
 
.card-description {
  font-size: 1em;
  color: #666;
  margin: 0;
}

.dropdown-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  }

  #breed_selector{
    width: 150px;
  height: 30px;
  font-family: 'akshar' ;
  font-size:medium;
  text-align: center;
  }

  .breed_image {
    border-radius: 10%s;
  }


/*.breed_image {
  max-width: 40%;
  height: auto;      
}
 
.dropdown-container {
display: flex;
justify-content: center;
padding: 20px;
}
 
#breed_selector{
  width: 150px;
height: 30px;
font-family: 'akshar' ;
font-size:medium;
}
 
.image_container {
  display: flex;
  justify-content: center;
  align-items: center;     
  margin-top: 20px;        
}
 
#breed_image {
  max-width: 100%;
  max-height: 300px;
  width: auto;
  height: auto;
  border-radius: 5%;
 
}
 
 
.image_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
 
.image_container {
  background-color: #ffffff;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  width: 300px;
  text-align: center;
}
 
.breed_image {
  width: 100px;
  height: 100px;
}
 
.image_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#breed_selector {
  text-align: center;
}

#image_container {
  
}